<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Example View</title>
    <style>
        .btnDenominationCount {
            width: auto;
            height: 25px;
            min-width: 18px;
            min-height: 25px;
            font-size: 18px;
            line-height: 25px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <div class="exampleView height100Percent">
        <div id="exampleListView" class="pad20 height100Percent">
        </div>
    </div>
</body>
</html>
