<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Sample view</title>
</head>
<body>
    <div class="SamplesView">
        <script id="SamplesView_SamplesSection" type="text/html">
            <div class="width300 col">
                <div class="h4 pad8" data-bind="text: label">
                </div>
                <div class="grow scrollY col" data-bind="template: {name: 'SamplesView_SampleButtonTemplate', foreach: items}"></div>
            </div>
        </script>

        <script id="SamplesView_SampleButtonTemplate" type="text/html">
            <div>
                <a href="#" class="accentColor" data-bind="click: $root.sampleClick.bind($root)">
                    <div class="h4 pad8" data-bind="text:label"></div>
                </a>
            </div>
        </script>
        <div class="grow pad20 scrollX col">
            <div class="grow row" data-bind="template:{name: 'SamplesView_SamplesSection', foreach: samplesList}">
            </div>
        </div>
    </div>
</body>
</html>