<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PostLogOnView</title>
    <style>
        .center-screen {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <div class="PostLogOnView center-screen">
        <div class="grow marginBottom48 scrollY">
            <div class="pad20 col width680">
                <div>
                    <div class="h4">Please do remember to do Hardware Health Check After logon</div>
                    <button id="confirmBtn">Confirm Login</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>