<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>VoidCartLineView</title>
        <script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>
</head>
<body>
      <div class="VoidCartLineView height100Percent">
            <input type="text" data-bind="value: qrText, valueUpdate: 'input'" placeholder="Enter text for QR code" />
            <div class="height700 width100Percent no-shrink col marginBottom20">
                <div class="col grow marginBottom48">
                    <div id="qrcode" data-bind="qrcode: qrText"  class="pad20"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>