<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>TextInputDialogView</title>
</head>
<body>
    <div class="TextInputDialogView">
        <div class="grow marginBottom48 scrollY">
            <div class="pad20 col width680">
                <h3>TextDialog</h3>
                <div class="pad8">
                    <button id="btnOpenTextDialog" data-bind="resx: { ariaLabel: 'string_49' }, click: openTextDialog">Open Text Input Dialog</button>
                </div>
                <div class="h4">Dialog result</div>
                <div class="h4" data-bind="text: dialogResult"></div>
                <div class="h4 padTop40">Text Dialog options interface</div>
                <textarea class="height220"></textarea>
                <div class="h4 padTop40">Controller syntax</div>
                <textarea class="height220"></textarea>
            </div>
        </div>
    </div>
</body>
</html>
