.relativePos {
    position: relative;
}

.reddot {
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 7.5px;
    right: 7.5px;
}
.reddotHidden{
    visibility:hidden
}

.reddotShow {
    visibility: visible
}

