<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="NumericNumPadView">
        <div class="grow marginBottom48 scrollY">
            <div class="pad20 col width680">
                <h3>NumericNumPad</h3>
                <div class="pad8">
                    <div class="minWidth260 maxWidth320" id="NumericNumPad"></div>
                    <div class="h4" data-bind="text: 'onEnter - value: ' + numPadValue()"></div>
                </div>
                <div class="h4 padTop40">ViewModel interface</div>
                <textarea class="height220">
                 </textarea>
                <div class="h4 padTop40">Controller syntax</div>
                <textarea class="height220"></textarea>
                <div class="h4 padTop40">HTML syntax</div>
                <textarea class="height220">
                <div data-bind="msPosNumericNumPad: numPad"></div>
                 </textarea>
            </div>
        </div>
    </div>
</body>
</html>