*.tabFontColor.active {
    border-bottom-width: 5px !important;
    border-bottom-color: gray !important;
    border-bottom-style: solid !important;
}

.win-appbar.dynamicsSymbolFont button.iconMultiSelect {
    display: none !important;
}

.activeStatus {
    color:green;
}
.pendingStatus {
    color:red;
}

.iconView {
    display: none !important;
}

.win-appbar.dynamicsSymbolFont button.iconAdd {
    display: none !important;
}


.win-appbar.dynamicsSymbolFont button.iconAddFriend {
    display: none !important;
}

.win-appbar.dynamicsSymbolFont button.iconAddFriend.custom {
    display: block !important;
}

.win-appbar.dynamicsSymbolFont button.iconAdd.custom {
    display: block !important;
}

.iconMail {
    height: 100px !important;
    width:80px !important;
    font-size:18px !important;
}