<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="Flex2ColsFloorNav.css">
</head>

<body>
    <header>Welcome Zizhu Dining Hall</header>
    <section>
        <ul id="categoires">
            <li>Breakfast</li>
            <li>Lunch</li>
            <li>Dinner</li>
            <li>Snacks</li>
        </ul>
        <div id="details">
            <div id="Breakfast" class="detail">
                <div>
                    <img src="PC.png" alt="">
                    <p>电脑</p>
                </div>
                <div>
                    <img src="PC.png" alt="">
                    <p>电脑</p>
                </div>
                <div>
                    <img src="PC.png" alt="">
                    <p>电脑</p>
                </div>
                <div>
                    <img src="PC.png" alt="">
                    <p>电脑</p>
                </div>
                <div>
                    <img src="PC.png" alt="">
                    <p>电脑</p>
                </div>
                <div>
                    <img src="PC.png" alt="">
                    <p>电脑</p>
                </div>
            </div>
            <div id="Lunch" class="detail">
                <div>
                    <img src="PC.png" alt="">
                    <p>电脑</p>
                </div>
                <div>
                    <img src="PC.png" alt="">
                    <p>电脑</p>
                </div>
                <div>
                    <img src="PC.png" alt="">
                    <p>电脑</p>
                </div>
                <div>
                    <img src="PC.png" alt="">
                    <p>电脑</p>
                </div>
                <div>
                    <img src="PC.png" alt="">
                    <p>电脑</p>
                </div>
                <div>
                    <img src="PC.png" alt="">
                    <p>电脑</p>
                </div>
            </div>
            <div id="Dinner" class="detail">
                <div>
                    <img src="PC.png" alt="">
                    <p>电脑</p>
                </div>
                <div>
                    <img src="PC.png" alt="">
                    <p>电脑</p>
                </div>
                <div>
                    <img src="PC.png" alt="">
                    <p>电脑</p>
                </div>
                <div>
                    <img src="PC.png" alt="">
                    <p>电脑</p>
                </div>
                <div>
                    <img src="PC.png" alt="">
                    <p>电脑</p>
                </div>
                <div>
                    <img src="PC.png" alt="">
                    <p>电脑</p>
                </div>
            </div>
            <div id="Snacks" class="detail">
                <div>
                    <img src="PC.png" alt="">
                    <p>电脑</p>
                </div>
                <div>
                    <img src="PC.png" alt="">
                    <p>电脑</p>
                </div>
                <div>
                    <img src="PC.png" alt="">
                    <p>电脑</p>
                </div>
                <div>
                    <img src="PC.png" alt="">
                    <p>电脑</p>
                </div>
                <div>
                    <img src="PC.png" alt="">
                    <p>电脑</p>
                </div>
                <div>
                    <img src="PC.png" alt="">
                    <p>电脑</p>
                </div>
            </div>
        </div>
    </section>
    <footer>Address:  Microsoft Building 5th,  Zizhu Campus</footer>
</body>
</html>