<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>PostLogOnView</title>
    <link href="PostLogOnView.css" rel="stylesheet" />
</head>
<body>
    <div class="PostLogOnView">
        <div class="grow marginBottom48 scrollY">
            <div class="pad20 col container">
                <div>
                    <button id="confirmBtn">Customer View</button>
                </div>
                <div>
                    <button id="cartBtn">Cart View</button>
                </div>
                <div>
                    <button id="inventlookupBtn">Inventory Lookup</button>
                </div>
                <div>
                    <button id="searchOrdersBtn">Search Orders</button>
                </div>
                <div data-bind="style: { 'background-image': 'url(' + imageUrl + ')' }"></div>
            </div>
        </div>
    </div>
</body>
</html>