#gasPumpPackedButton {
    width: inherit;
    color: #fff;
}

#con {
    height:48px;
    width:48px;
    position: relative;
}

.reddot1 {
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: -7.5px;
    right: -7.5px;
}

.reddot1Hidden {
    visibility: hidden
}