<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>PostLogOnView</title>
</head>
<body style="height: 100vh;" data-bind="style: { backgroundImage: backgroundImageEncodingURL }">
    <div class="PostLogOnView">
        <div class="grow marginBottom48 scrollY">
            <div class="pad20 col width680">
                <div>
                    <div class="h4">Customer View</div>
                    <button id="confirmBtn">Customer View</button>
                </div>
                <div>
                    <div class="h4">Cart View</div>
                    <button id="cartBtn">Cart View</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>