<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Contoso Tender Conting View</title>
    <style>
        .ContosoTenderCountingView .btnDenominationCount {
            width: auto;
            height: 25px;
            min-width: 18px;
            min-height: 25px;
            font-size: 18px;
            line-height: 25px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <div class="ContosoTenderCountingView height100Percent">
        <div id="ContosoTenderCountingView" class="pad20 height100Percent">
        </div>
    </div>
</body>
</html>