<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- CSU Client Application Client Id -->
    <add key="aadClientId" value="{CSU Client Application Client Id}" />
    <!-- CSU Client Application Secret Value,not Secret Id  -->
    <add key="aadClientSecret" value="{CSU Client Application Client Secret Value}" />
    <!-- aadAuthority: https://sts.windows.net/{tenantId} -->
    <add key="aadAuthority" value="https://sts.windows.net/{tenantId}/" />
    <!-- CSU (Retail Server URL) -->
    <add key="retailServerUrl" value="https://{CSU Server Host}:{Port}/RetailServer/Commerce" />
    <!-- CSU Server App Client Id -->
    <add key="resource" value="api://{ CSU Server App Client Id}" />
    <!-- Store's Operating Unit Id -->
    <add key="operatingUnitNumber" value="{Store's Operating Unit Id}" />
    <!-- SA Srinath. -->
    <!-- authority, that is a fixed value -->
    <add key="authority" value="https://login.microsoftonline.com/"/>
    <!-- tenantId -->
    <add key="tenantId"  value="{tenantid}"/>
    <!-- CSU Server App Client Id -->
    <add key="audience"   value= "api://{CSU Server App Client Id}" />
  </appSettings>
</configuration>