#gasPumpPackedButton {
    width: inherit;
    color: #fff;
}


#bcTabRead + #parent + #parent + #parent {
    display: none;
}

#districtTabRead + #parent + #parent + #parent {
    display: none;
}

#addProductButton{
    display:none;
}

#addCustomerButton
{
    display:none;
}

#CustomerSearch_addNewCustomerCommand
{
    display:none;
}

