<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Samples view</title>
</head>
<body>
    <div class="GasPumpStatusView">
        <div class="grow pad20 scrollX col">
            <div class="h4 pad8">Pump Status</div>
            <div>
                <div class="h4 pad8" data-bind="text: selectedPumpStatus"></div>
            </div>
            <div>
                <div class="h4 pad8">Description</div>
                <div class="h4 pad8" data-bind="text: selectedPumpDescription"></div>
            </div>
            <div data-bind="visible: isSelectedGasPumpPumping">
                <div class="h4 pad8">Sale Total: </div>
                <div class="h4 pad8" data-bind="text: selectedGasPumpTotal"></div>
            </div>
            <div data-bind="visible: isSelectedGasPumpPumping">
                <div class="h4 pad8">Sale Volume:</div>
                <div class="h4 pad8" data-bind="text: selectedGasPumpVolume"></div>
            </div>
        </div>
    </div>
</body>
</html>
