<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Example View</title>
</head>
<body>
    <div class="exampleView height100Percent">

        <button id="pingCoinDispenserButton" class="margin20 height40">
            Ping coin dispenser
        </button>

        <button id="dispenseTenCoinsButton" class="margin20 height40">
            Dispense 10 coins
        </button>

        <button id="dispenseThousandCoinsButton" class="margin20 height40">
            Dispense 1000 coins
        </button>
    </div>

</body>
</html>