<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- Graph API configuration -->
    <add key="B2CTenantId" value="" />
    <add key="B2CTenant" value="" />
    <add key="B2CClientId" value="" />
    <add key="B2CClientSecret" value="" />
    <add key="PropertyExtension" value="" />
    <add key="InputFile" value="CustomerData.csv" />

    <!-- AX Odata Client & AAD configuration -->
    <add key="CreateUserMappingInAX" value="true" />
    <add key="AX-AOS-Url" value="" />
    <add key="AX-AAD-Tenant" value="" />
    <add key="AX-AAD-ClientId" value="" />
    <add key="AX-AAD-ClientPassword" value="" />
    <add key="ProviderId" value="68719476739" />
    <add key="DataAreaId" value="usrt" />

    <!-- B2C configuration -->
    <add key="NonInteractiveClientId" value="" />
    <add key="NonInteractivePolicyId" value="" />
    <add key="Scope" value="" />
    <add key="LoginDomain" value="" />

    <!-- AX Retail Server configuration -->
    <add key="RetailServerEndpoint" value="" />
    <add key="OperatingUnitNumber" value="128" />
  </appSettings>
 </configuration>
